/***************************
		NAV
 **************************/

#header{
	width: 100%;
	height: 171px;
	background-image: url('../img/navbar.png');
	background-size: contain;
	background-repeat: no-repeat;
	font-weight: 900;
}
.container{
	padding-top:2.6rem;
}
.logo{
	width: 100%;
	height: 80px;
}
.logo img{
	width: 100%;
	height: 100%;
}
.information{
	float: right;
}
.cotizar{
	width: 100%;
	height: 70px;
}
p.direction-nav{
	line-height: 0;
	font-size: 0.7rem;
	text-align: right;
	color: #1c4a83;
}
.button-cotizar{
	background-color: #FF5507;
	width: 149px;
	height: 42px;
	border-radius: 0 5px 0 5px;
	border:none;
}
.nav-link{
	padding: 0.5rem 0.5rem;
	border-right: 2px solid #FF5507;
	line-height: 5px;
	margin: 0;
	color: #152F5E;
	font-family: 'SourceSansPro-Bold';
}
.nav-item:nth-last-child(1) .nav-link{
	border-right: 0px;
}
.navbar{
  margin-left: 6.5rem;
	padding: 1rem 0 0 0;
}
.active-nav{
	color: #FF5507;
}
.description-direction-nav{
	font-family: 'SourceSansPro-Bold';
	text-align: right;
	color: #004883;

}
/***************************
		NAV
 **************************/
