/***************************
		NAV
 **************************/

#header{
	width: 100%;
	height: 171px;
	background-image: url('../img/navbar.png');
	background-size: contain;
	background-repeat: no-repeat;
	font-weight: 900;
}
.container-pt{
	padding-top:2.6rem;
}
.logo{
	width: 100%;
	height: 80px;
}
.logo img{
	width: 100%;
	height: 100%;
}
.information{
	float: right;
}
.cotizar{
	width: 100%;
	height: 70px;
}
p.direction-nav{
	line-height: 0;
	font-size: 12px;
	text-align: right;
	color: #427aaa;
}
.button-cotizar{
	background-color: #ff5507;
	width: 149px;
	height: 42px;
	border-radius: 0 5px 0 5px;
	border:none;
	color: #fff;
	font-family: 'SourceSansPro-Bold';
	box-shadow:2px 2px 2px rgba(193, 193, 193, 0.7);
}
.nav-link{
	padding: 0.5rem 0.5rem;
	border-right: 2px solid #ff5507;
	line-height: 5px;
	margin: 0;
	color: #152F5E;
	transition: .3s;
	font-family: 'SourceSansPro-Bold';
}
.nav-item:nth-last-child(1) .nav-link{
	border-right: 0px;
}
.nav-link:hover{
	color: #ff5507;
	transition: .3s;
}
.navbar{
  margin-left: 6.5rem;
	padding: 1rem 0 0 0;
}
.description-direction-nav{
	font-family: 'SourceSansPro-Bold';
	font-size: 13px;
	text-align: right;
	color: #004883;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	transition: all .5s ease-in-out;
}

/* Links inside the dropdown */
.dropdown-content a {
	font-family: 'SourceSansPro-Bold';
	text-align: left;
	font-size: 13px;
  color: #1c4a83;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	transition: all .3s ease-in-out;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #ff5507;transition: all .3s ease-in-out;}

/* Show the dropdown menu on hover */
.nav-item:hover .dropdown-content {
  display: block;
	transition: all .5s ease-in-out;
}

/***************************
		NAV
 **************************/
