@media screen and (min-width:0px) and (max-width:992px) {
  header#header{
    display: none;
  }
  #nav-mobile{
    padding: 1rem 0;
  }
  .nav-link-m{
  	padding: 1rem 0.5rem;
  	line-height: 5px;
  	margin: 0;
    border-left: 2px solid #ff5507;
  	color: #1c4a83;
    transition: .3s;
  	font-family: 'SourceSansPro-Bold';
  }
  .nav-link-m:hover{
  	color: #ff5507;
  	transition: .3s;
  }
  .mobile-ul{
    padding: 1rem 0;
  }
  .mobile-ul li{
    padding: .5rem 0;
    /*border-bottom: 2px solid #ff5507*/
  }
  .navbar-toggler{
    position: absolute;
    right: 0;
  }
  .navbar-toggler:focus{
    outline: none;
  }
  .navbar-toggler span{
    font-size: 40px;
    color: #ff5507;
  }
  .logo-mobile img{
    width: 80%;
  }
  .slick-prev{
    left: 20%;
  }
  .slick-next{
    right: 20%;
  }
  .home-img{
    height: 400px;
  }
  .mask-patron{
    background-position: right;
  }
  .mask-patron .caption .title-caption p{
    display: none;
  }
  .services{
    background-image: none;
  }
  h4.description-services{
    margin-top: -8rem;
    font-size: 24px;
  }
  .content-services{
    width: 100%;
  }
  .text-services{
    font-size: 1rem;
    line-height: 20px;
  }
  .buttons{
    padding: 50px 40px;
  }
  .img-alquiler{
    height: 437px;
  }
  .content-img{
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  .description-alquiler{
    display: none;
  }
  .button-alquiler{
    margin-left: 0;
  }
  .alquiler-equipos{
    height: auto;
  }
  .nosotros{
    padding-top: 90px;
    margin-bottom: 3rem;
  }
  .container-nosotros{
    width: 100%;
  }
  .description-nosotros{
    font-size: 1.1rem;
  }
  .text-nosotros{
    line-height: 20px;
  }
  .carousel-clients{
    height: auto;
  }
  .caption{
    height: 100%;
  }
  .title-caption{
    width: 100%;
    right: 1%;
  }
  .title-caption h2{
    width: 100%;
    margin-top: 2rem;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .title-caption p{
    font-size: 1.4rem;
  }
  .nuestra-historia{
    padding-right: 0.5rem;
  }
  .mision-vision{
    padding-right: 0.5rem;
  }
  .lista-obj{
    padding-left: 0;
    font-size: 1rem;
  }
  .content-nosotros{
    width: 100%;
    margin-left: 0;
  }
  .separacion{
    margin-top: 2rem;
  }
  #accordion {
    border-left: 2px solid #1c4a83;
    border-right: none;
  }
  .content-contact{
    width: 100%;
  }
  .modal-dialog{
    max-width: 100%;
  }
  .content-img{
    left: 0;
    top: 0;
  }
  .content-description{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nuestro-compromiso{
    padding-right: 0;
    height: auto;
    padding-top: 50px;
  }
  .nuestro-compromiso .linea-historia{
    margin-top: 3rem !important;
    margin-bottom: 20px;
  }
  #alquiler-equipos{
    padding-right: 15px;
    padding-left: 15px;
  }
  #header{
    background-image: none;
    height: auto;
    margin-bottom: 5rem;
  }
  .objetivos{
    height: auto;
    padding-top: 40px;
    background-image: none;
    padding-right: 1rem;
    margin-left: 1rem;
  }
  #footer{
    background-image: none;
    height: auto;
    margin-top: 1rem;
    padding: 0 2rem;
  }
  .diseño-desarrollo{
    font-size: 10px;
  }
  .datos{
    width: 90%;
  }
  .button-enviar{
    margin-left: 2rem;
  }
  .valores{
    font-size: 1rem;
  }
  .title-contact{
    font-size: 1.3rem;
  }
  #contact{
    height: auto;
    margin-bottom: 2rem;
  }

  #encuesta{
    height: auto;
  }
  .last-question{
    margin-bottom: 4rem;
  }

  .img-overview img{
    width: 100%;
  }
  #descargas{
    height: auto;
  }
  .img-overview{
    margin-top: 2rem;
    margin-bottom: -3rem;
  }
}
@media (min-width: 400px) and (max-width: 767px){
  .lista-obj{
    margin-left: 1rem;
  }
  .objetivos{
    padding-right: 0;
  }
  #contact{
    background-image: none;
  }
  .title-caption p{
    font-size: 25px;
  }
  .title-caption h2{
    font-size: 27px;
  }
  .img-overview{
    margin-top: 2rem;
    margin-bottom: -3rem;
  }
  .img-overview img{
    width: 100%;
  }

  .nosotros{
    height: auto;
  }
}

@media (min-width: 725px){
  .img-overview{
    margin-top: 2rem;
  }
  #footer{
    margin-top: -3rem;
  }
}


/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px){
  .text-services{
    line-height: 15px;
  }
  .buttons{
    padding: 70px 100px;
  }
  .alquiler-equipos{
    height: auto;
  }
  .img-alquiler{
    height: 600px;
    width: 100%;
  }
  .nosotros{
    padding-top: 70px;
    font-size: 1.2rem;
  }
  .logo-clients img{
    width: 90%;
    height: auto;
  }
  #descargas{
    margin-left: 2rem;
    margin-top: 5rem;
  }
  #footer{
    height: auto;
    margin-top: 1rem;
    padding: 0 6rem;
  }
   #encuesta{
    margin-left: 1.5rem;
  }
  #questions{
    margin-left: 1.5rem;
  }
  .diseño-desarrollo{
    font-size: 13px;
    margin-top: 1rem;
  }
  .datos{
    width: 100%;
  }
  .message-escuesta-1{
    width: 97%;
  }
  .objetivos{
    padding-left: 2rem;
  }
  .separacion{
    margin-left: 1rem;
  }
  .img-certificacion{
    width: 73%;
  }
  .title-caption h2{
    font-size: 3.5rem;
  }
  .title-caption p{
    font-size: 2rem;
  }
  #contact{
    height: auto;
    background-image: none;
  }
}
/*Fin Tablet*/

/*Laptop pequeña*/
@media (min-width: 992px) and (max-width: 1280px){
  .description-direcion-title{
    font-size: 12px;
  }
  .descripcion-direcion{
    font-size: 11px;
  }
  .img-certificacion{
    width: 85%;
  }
  .objetivos{
    height: auto;
  }
  #footer{
    margin-top: 0.5rem;
  }
  .logo{
    margin-left: 21px;
  }
  #contact{
    height: auto;
    background-image: none;
    margin-top: 2rem;
    padding-left: 3rem;
  }
  .cotizar{
    margin-left: 8rem;
  }
  .container-pt{
    margin-left: 2rem;
  }
  .message{
    width: 95%;
  }
  .content-services{
    margin-top: 11.7rem;
  }
  .buttons{
    padding: 70px 81px;
  }
}
/*Fin Laptop pequeña*/

/*Laptop*/
@media screen and (min-width: 992px){
  #nav-mobile{
    display: none;
  }
}
