@font-face {
	font-family: 'SourceSansPro-Regular';
	src:url('../fonts/SourceSansPro-Regular.otf');
}
@font-face {
	font-family: 'SourceSansPro-Bold';
	src:url('../fonts/SourceSansPro-Bold.otf');
}
@font-face {
	font-family: 'Ionicons';
	src:url('../css/ionicons.css');
}
*{
	margin: 0;
	padding:0;
	font-family: 'SourceSansPro-Regular';
}
a,a:hover,a:focus,a:visited,a:active{text-decoration: none}

p{
	line-height: 0;
	font-size: 0.7rem;
}
button{
	cursor: pointer;
}
/***************************
		CAROUSEL - HOME
 **************************/
.home-img{
	background-size:cover;
	background-position:center;
	height:580px;
	margin: 0 32px;
	position:relative;
}
.mask-patron{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../img/patron_home.png');
	background-size: cover;
}
.caption{
	height: 100%;
	display: flex;
	align-items: center;
}
.title-caption{
	position: absolute;
	text-align: right;
	right: 9%;
	height: auto;
	width: 40%;
}
.title-caption h2{
	color: #fff;
	font-size: 40px;
	font-family: 'SourceSansPro-Bold';
}
.title-caption p{
	color: #fff;
	line-height: 1;
	font-size: 30px;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 86%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'Ionicons';
    font-size: 40px;
    line-height: 1;

    opacity: .75;
    color: #ff5507;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev
{
	left: 82%;
	z-index: 9;
}
.slick-prev:before
{
  content: "\f3cf";
}
.slick-next
{
  right: 11%;
}
.slick-next:before
{
  content: "\f3d1";
}
/***************************
		SECCION DE SERVICIOS
 **************************/
.services{
	width: 100%;
  padding-bottom: 50px;
	background-image: url('../img/servicios.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.content-services{
	width: 60%;
	margin-top: 8.7rem;
}
h4.description-services{
	color: #173263;
	font-size: 28px;
  line-height: 35px;
}
.text-services{
	color: #ff5507;
	font-size: 1rem;
	width: 90%;
	margin-top: 2rem;
	font-family: 'SourceSansPro-Bold';
}
.buttons{
	padding: 70px 0;
	display: flex;
	justify-content: space-around;
}
.buttons-services{
	width: 147px;
	height: 94px;
	background-color: #1c4a83;
	border-radius: 0 10px 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s ease-in-out;
	padding: 20px;
	box-shadow:3px 3px 10px rgba(87, 87, 87, 0.98);
}
.icon-service{
	padding-right: 50px;
	padding-left: 50px;
}
.icon-service:hover .title p{
	font-family: 'SourceSansPro-Bold';
	transition: .3s ease-in-out;
	color: #ff5507;
}
#house.buttons-services{
	background-image: url('../img/house.png');
	background-position: center;
	background-repeat: no-repeat;
	transition: .3s ease-in-out;
  background-size: 70px;
}
.icon-service:hover #house.buttons-services{
	background-image: url('../img/casa.png');
	transition: .3s ease-in-out;
}
#crane.buttons-services{
	background-image: url('../img/crane.png');
	background-position: center;
	background-repeat: no-repeat;
	transition: .3s ease-in-out;
	background-size: 50px;
}
.icon-service:hover #crane.buttons-services{
	background-image: url('../img/cranenaranja.png');
	transition: .3s ease-in-out;
}
#toilet.buttons-services{
	background-image: url('../img/toilet.png');
	background-position: center;
	background-repeat: no-repeat;
	transition: .3s ease-in-out;
	background-size: 50px;
}
.icon-service:hover #toilet.buttons-services{
	background-image: url('../img/toiletnaranja.png');
	transition: .3s ease-in-out;
}
#truck.buttons-services{
	background-image: url('../img/delivery-truck.png');
	background-position: center;
	background-repeat: no-repeat;
	transition: .3s ease-in-out;
  background-size: 70px;
}
.icon-service:hover #truck.buttons-services{
	background-image: url('../img/delivery-truck-naranja.png');
	transition: .3s ease-in-out;
}
.buttons-services img{
	height: 50%;
}
.title{
	display: flex;
	justify-content: center;
	width: 147px;
	margin-top: 30px;
	transition: .3s ease-in-out;
}
.title p{
	transition: .3s ease-in-out;
}
.title-services{
	font-size: 1rem;
	color: #1C5485;
	transition: .3s ease-in-out;
}
.icons{
	font-size: 3rem;
	color: white;
}

.buttons-services:hover .title-services{
	color: #ff5507;
	font-weight: bolder;
}
/***************************
		SECCION DE SERVICIOS
 **************************/


/***************************
		SECCION DE ALQUILER
 **************************/

 .alquiler-equipos{
	width: 100%;
	height: 800px;
}
.img-alquiler{
	width: 100%;
	height: 800px;
	background-image: url(../img/img-alquiler-home.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 0 50px 0 50px;
	position: relative;
}
.content-img{
	width: 288px;
	height: 337px;
	background-color: #1c4a83;
	border-radius: 30px 0 30px 0;
	position: absolute;
	left: 10%;
	top: 20%;
	box-shadow:3px 3px 10px rgba(0, 0, 0, 0.83);
}
.button-alquiler{
	width: 185px;
	height: 42px;
	border-radius: 0 5px 0 5px;
	color: white;
	background-color: #ff5507;
	margin-left: -3.5rem;
	font-family: 'SourceSansPro-Bold';
}
.content-description{
	padding: 40px 5px 0 25px;
	width: 300px;
	height: 100%;
}

.description-alquiler{
	padding: 1rem;
  text-align: left;
  line-height: 1.8rem;
  color: white;
  font-size: 19px;
}
#alquiler-equipos{
	padding-right: 32px;
	padding-left: 32px;
}

/***************************
	 SECCION DE ALQUILER
 **************************/

/***************************
		NOSOTROS
 **************************/
.nosotros{
	width: 100%;
	height: 250px;
	padding-top: 135px;
}
.content-nosotros{
	width: 55%;
	margin-left: 43%;
	height: 100px;
	text-align: right;
}

.text-nosotros{
	color: #ff5507;
	font-size: 1rem;
	font-weight: bolder;
	margin-top: 2rem;
}
.container-nosotros{
	width: 70%;
}
.description-nosotros{
	color: #173263;
	font-size: 1.2rem;
}

.carousel-clients{
	width: 100%;
	height: 150px;
	padding-bottom: 1rem;
}
.logo-clients{
	display: flex;
	justify-content: center;
}
.logo-clients img{
	width: 80%;
	height: 60%;
	object-fit: scale-down;
}

/***************************
		Nosotros
 **************************/

/***************************
		DESCARGA
 **************************/
#descargas{
	width: 100%;
	height: 270px;
}
.descargas{
	width: 100%;
	height: 190px;
	background-color: #1c4a83;
}
.description-descargas{
	color: white;
}
.button-descarga{
	width: 184px;
	height: 42px;
	border-radius: 0 5px 0 5px;
	background-color: #ff5507;
	color: white;
	font-family: 'SourceSansPro-Bold';
	margin-top: 2rem;
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.32);
}
.button-descarga img{
	width: 10%;
}

/***************************
		DESCARGA
 **************************/
.linea{
	width: 100%;
	height: 0.5px;
	background-color: rgba(0, 0, 0, 0.5);
}


/***************************
		FOOTER
 **************************/
#footer{
	width: 100%;
	height: 230px;
	background-image:url('../img/footer.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: -2.5rem;
}
.container-footer,
.container-linea{
	padding-right: 0;
	padding-left: 0;
}
.content-footer{
	padding: 2rem 0 0 0;
}
.descripcion-direcion{
	line-height: 1rem;
	text-align: left;
	color: #1c4a83;
	font-size: 13px;
}
.description-direcion-title{
	font-family: 'SourceSansPro-Bold';
	font-size: 14px;
	text-align: left;
	color: #004883;
}
.end-footer{
	padding-bottom: 20px;
}
.diseño-desarrollo{
	font-weight: bolder;
	text-align: right;
	color: #004883;
	font-size: 13px;
}

/***************************
		FOOTER
 **************************/
